body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:grey;
}

/* Header */
.header {
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 8px solid red;
    box-shadow:12px 12px purple;
    margin: 10px auto;
    width: 450px;
    height: 150px;
    color: purple;
    text-shadow: 4px 4px 5px purple;
    font-family: 'Times New Roman', Times, serif;
}

/* Container */
.container {
    display:flex;
    border: 10px solid green;
    padding: 10px;
    margin: 10px;
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    height: 700px;

}


/* Address */
.address {
    background-color: white;
    border: 8px solid red;
    border-radius: 10px;
    box-shadow:10px 10px purple;
    width: 200px;
    height: 250px;
    color: rgb(88, 13, 88);
    text-shadow: 4px 4px 5px purple;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: larger;
    font-weight: 700;
}

/* Banner */
.banner {
    margin-top:40px;
    background-color: white;
    border: 8px solid red;
    border-radius: 10px;
    box-shadow:10px 10px purple;
    width: 200px;
    height: 250px;
    color: rgb(65, 6, 65);
    text-shadow: 4px 4px 5px purple;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 800;
}


.free{
 
    background-color: white;
    border: 8px solid red;
    border-radius: 10px;
    box-shadow:10px 10px purple;
    width: 200px;
    height: 250px;

}

/* Rate Us Section */
.rate-us {
    
    background-color: white;
    border: 8px solid red;
    border-radius: 10px;
    box-shadow:10px 10px purple;
    width: 200px;
    height: 250px;
    margin-top: 40px;
    text-align: center;
    color: rgb(65, 6, 65);
    text-shadow: 4px 4px 5px purple;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}
.rate{
    text-align: center;
    color: rgb(65, 6, 65);
    text-shadow: 4px 4px 5px purple;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 600;

}
.btn{
    border-radius: 10px;
    background-color: red;
    border: 2px solid black;
}




/* Products Section */
.products {
    text-align: center;
    background-color:green;
    border:8px solid purple;
   width: 60%;
   margin: auto;
 
  

  
     
}

.products h3 {
    margin-bottom: 10px;
}

.container1{
    display: flex;
    flex-direction:row;
    column-gap: 20px;
    justify-content: center;
   

}
.box1{

    background-color: yellow;
    height: 300px;
    width: 400px;
    margin: 10px;

}
.box2{
    background-color: yellow;
    height: 300px;
    width: 400px;
    margin: 10px;


}
.container2{

    background-color: yellow;
    height: 250px;
    width: 850px;
    margin: auto;

}




/* Offer Section */
.offer {
    background-color: green;
    border: 8px solid red;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    color: black;
    width:450px;
    height: 80px;
    font-size: xx-large;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    box-shadow: 5px 5px purple;
    position: sticky;
    bottom: 0;

    
    
}
